<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- ==========Banner-Section========== -->
    <section class="details-banner hero-area bg_img seat-plan-banner" data-background="assets/images/banner/banner04.jpg">
        <div class="container">
            <div class="details-banner-wrapper">
                <div class="details-banner-content style-two">
                    <h3 class="title">{{movieName}}</h3>
                    <div class="tags">
                        <a href="#0">{{screenName}}</a>
                        <a href="#0">{{movieLang}} - {{movieType}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Banner-Section========== -->

    <!-- ==========Page-Title========== -->
    <section class="page-title bg-one">
        <div class="container">
            <div class="page-title-area">
                <div class="item md-order-1">
                    <a href="movie-ticket-plan.html" class="custom-button back-button">
                        <i class="flaticon-double-right-arrows-angles"></i>back
                    </a>
                </div>
                <div class="item date-item">
                    <span class="date">{{selectedDate}}</span>
                    <select class="select-bar">
                        <option value="showStartTime">{{showStartTime}}</option>

                    </select>
                </div>
<!--                <div class="item">-->
<!--                    <h5 class="title">05:00</h5>-->
<!--                    <p>Mins Left</p>-->
<!--                </div>-->
            </div>
        </div>
    </section>
    <!-- ==========Page-Title========== -->

    <!-- ==========Movie-Section========== -->
    <div class="movie-facility padding-bottom padding-top">
        <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                            <div class="checkout-widget checkout-contact">
                                <h5 class="title">Share your Contact  Details </h5>
                                <div class="checkout-contact-form">
                                    <div class="form-group">
                                        <input type="text" value="{{userName}}" name="username"readonly>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" value="{{userEmail}}" id="email" name="cemail">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" value="{{userContact}}" id="mobile"name="mobile">
                                    </div>
                                    </div>
                            </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout-widget checkout-contact">
                                <div class="booking-summery bg-one">
                                <h4 class="title">booking summery</h4>
                                <ul>
                                    <li>
                                        <h6 class="subtitle">{{movieName}}</h6>
                                        <span class="info">{{movieLang}}-{{movieType}}</span>
                                    </li>
                                    <li>

                                        <h6 class="subtitle"><span>{{screenName}}|{{showName}}</span><span>{{chosenSeats}}</span></h6>

                                        <div class="info"><span>{{selectedDate}}</span></div>
                                    </li>
                                    <li>
                                        <h6 class="subtitle mb-0"><span>Tickets  Price</span><span>{{finalPrice}}</span></h6>
                                    </li>
                                </ul>

                            </div>
                            <div class="proceed-area  text-center">
                                <h6 class="subtitle"><span>Amount Payable</span><span>{{finalPrice}}</span></h6>
                                <div class="form-group">
                                        <button style="background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);" id="rzp-button1">PAY INR {{finalPrice}}</button>
<!--                                        <button type="submit" style="background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);" >PAY</button>-->
                                   <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                                    </div>
                                <input type="hidden" name="selected_seats" value="{{selectedSeat}}">
                                <input type="hidden" name="selected_seats_type" value="{{chosenSeats}}">
                                <input type="hidden" name="selected_type" value="{{chosenTypes}}">
                                <input type="hidden" name="movieName" value="{{movieName}}">
                                <input type="hidden" name="showName" value="{{showName}}">
                                <input type="hidden" name="screenName" value="{{screenName}}">
                                <input type="hidden" name="selectedDate" value="{{selectedDate}}">
                                <input type="hidden" name="finalPrice" value="{{finalPrice}}">
                                <input type="hidden" name="userEmail" value="{{userEmail}">
                            </div>
                            </div>
                    </div>

                </div>


        </div>
    </div>
    <!-- ==========Movie-Section========== -->
<script>
     var options = {
            "key": "rzp_test_wZ1DvNhL7Ppzzm", // Enter the Key ID generated from the Dashboard
            "amount":{{payment.amount}}*100,// Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Raagam Cinemas", //your business name
            "description": "Test Transaction",
            "image": "{% static 'images/logo/favicon.png' %}",
            "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response){

                console.log(response);
                var chosenSeats = {{selectedSeat}};  // Replace with your actual list of chosen seats
                var chosenSeatsString = chosenSeats.join(',');
                //window.location.href = `http://127.0.0.1:8000/Frontend/razorpay_complete/?order_id=${response.razorpay_order_id}&transaction_id=${response.razorpay_payment_id}&username=${"{{userName}}"}userEmail=${"{{userEmail}}"}&selected_seats=${"{{selectedSeat}}"}&selected_type=${"{{chosenTypes}}"}&selected_seats_type=${"{{chosenSeats}}"}&movieName=${"{{movieName}}"}&screenName=${"{{screenName}}"}&selectedDate=${"{{selectedDate}}"}&showName=${"{{showName}}"}';                //alert(order_id);
                  var redirectUrl = `http://127.0.0.1:8000/Frontend/razorpay_complete/`;
        redirectUrl += `?order_id=${response.razorpay_order_id}`;
        redirectUrl += `&transaction_id=${response.razorpay_payment_id}`;
        redirectUrl += `&username={{ userName }}`;
        redirectUrl += `&userEmail={{ userEmail }}`;
        redirectUrl += `&movieName={{ movieName }}`;
        redirectUrl += `&screenName={{ screenName }}`;
        redirectUrl += `&selectedDate={{ selectedDate }}`;
        redirectUrl += `&showName={{ showName }}`;
        redirectUrl += `&selectedSeat={{ chosenSeatsString }}`;
        redirectUrl += `&chosenTypes={{ chosenTypes }}`;
        redirectUrl += `&chosenSeats={{ chosenSeats }}`;

        window.location.href=redirectUrl;

            },
            "prefill": {
                "name": "Raji Nair", //your customer's name
                "email": "revathysudheesh@gmail.com",
                "contact": "9496634612"
            },

            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response){
                alert(response.error.code);
                //alert(response.error.description);
                //alert(response.error.source);
                //alert(response.error.step);
                //alert(response.error.reason);
                alert(response.error.metadata.order_id);
                alert(response.error.metadata.payment_id);
        });
        document.getElementById('rzp-button1').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
</script>
</body>
</html>
{% endblock %}