def submit_booking(request):
    if request.method == 'POST':
        na = request.POST.get('screenName')
        shn = request.POST.get('showName')
        sht = request.POST.get('showStartTime')
        mn = request.POST.get('movieName')
        un = request.POST.get('userName')
        fp = request.POST.get('finalPrice')
        dt= request.POST.get('selectedDate')
        seats=request.POST.get('chosenSeats')
        types=request.POST.get('chosenTypes')
        seatim=request.POST.get('seat_img')
        current_datetime = datetime.now()
        types_list = types.split(',')
        premium_count = types_list.count('Premium')
        standard_count = types_list.count('Standard')
        count_types=len(types)

        # print(na,shn,mn,fp,un)
        selected_seats_data = request.POST.getlist('seats')
        # print(selected_seats_data)
        selected_seats = [seat.split(':')[0] for seat in selected_seats_data if seat.split(':')[1] == 'selected']
        count=len(selected_seats)

        if seats:
            SeatDB.objects.filter(SeatNumber__in=selected_seats).update(SeatStatus='selected')
            obj = UserBookingDB(UserName=un, MovieName=mn, ScreenName=na, ShowName=shn, SelectedDate=dt,StartTime=sht,AmountToBePaid=fp,
                                NoOfSeats=count, SeatNumbers=seats,SeatNumberOnly=selected_seats, PaymentStatus="UnderProcess", BookedDate=current_datetime)
            obj.save()

            url = reverse('movie_checkout') + f'?screenName={na}&selectedSeat={selected_seats}&showName={shn}&showStartTime={sht}&movieName={mn}&userName={un}&finalPrice={fp}&selectedDate={dt}&chosenSeats={seats}&chosenTypes={types}&count={count}'
            return redirect(url)
        else:
            messages.error(request, "Select atleast one Seat")
            return redirect('index') #enter error message