<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section class="details-banner bg_img" data-background="{{movie.MoviePoster1.url}}">
        <div class="container">
            <div class="details-banner-wrapper">
                <div class="details-banner-thumb">
                    <img src="{{movie.MoviePoster.url}}" alt="movie">
                </div>
                <div class="details-banner-content offset-lg-3">
                    <h3 class="title">{{movie.MovieName}}</h3>
                    <div class="tags">
                        <a href="#0">{{movie.MovieLanguage}}</a>

                    </div>
                    <a href="#0" class="button">{{movie.MovieGenre}} </a>
                    <a href="#0" class="button">{{movie.MovieType}}</a>
                    <div class="social-and-duration">
                        <div class="duration-area">
                            <div class="item">
                                <i class="fas fa-calendar-alt"></i><span>{{movie.MovieRelease}}</span>
                            </div>
                            <div class="item">
                                <i class="far fa-clock"></i><span>{{movie.MovieDuration}}</span>
                            </div>
                        </div>
                        <ul class="social-share">
                            <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ==========Banner-Section========== -->

    <!-- ==========Book-Section========== -->
    <section class="book-section bg-one">
        <div class="container">
            <div class="book-wrapper offset-lg-3">
<!--                <div class="left-side">-->
<!--                    <div class="item">-->
<!--                        <div class="item-header">-->
<!--                            <div class="thumb">-->
<!--                                <img src="assets/images/movie/tomato2.png" alt="movie">-->
<!--                            </div>-->
<!--                            <div class="counter-area">-->
<!--                                <span class="counter-item odometer" data-odometer-final="88">0</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <p>tomatometer</p>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <div class="item-header">-->
<!--                            <div class="thumb">-->
<!--                                <img src="assets/images/movie/cake2.png" alt="movie">-->
<!--                            </div>-->
<!--                            <div class="counter-area">-->
<!--                                <span class="counter-item odometer" data-odometer-final="88">0</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <p>audience Score</p>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <div class="item-header">-->
<!--                            <h5 class="title">4.5</h5>-->
<!--                            <div class="rated">-->
<!--                                <i class="fas fa-heart"></i>-->
<!--                                <i class="fas fa-heart"></i>-->
<!--                                <i class="fas fa-heart"></i>-->
<!--                                <i class="fas fa-heart"></i>-->
<!--                                <i class="fas fa-heart"></i>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <p>Users Rating</p>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <div class="item-header">-->
<!--                            <div class="rated rate-it">-->
<!--                                <i class="fas fa-heart"></i>-->
<!--                                <i class="fas fa-heart"></i>-->
<!--                                <i class="fas fa-heart"></i>-->
<!--                                <i class="fas fa-heart"></i>-->
<!--                                <i class="fas fa-heart"></i>-->
<!--                            </div>-->
<!--                            <h5 class="title">0.0</h5>-->
<!--                        </div>-->
<!--                        <p><a href="#0">Rate It</a></p>-->
<!--                    </div>-->
<!--                </div>-->
                <form action="{% url 'ticket_booking' data_id=movie.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);">Book Tickets</button>

                </form>
            </div>
        </div>
    </section>
    <!-- ==========Book-Section========== -->

    <!-- ==========Movie-Section========== -->
    <section class="movie-details-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center flex-wrap-reverse mb--50">
                <div class="col-lg-3 col-sm-10 col-md-6 mb-50">
<!--                    <div class="widget-1 widget-tags">-->
<!--                        -->
<!--                    </div>-->
<!--                    <div class="widget-1 widget-offer">-->
<!--                        <h3 class="title">Applicable offer</h3>-->
<!--                        <div class="offer-body">-->
<!--                            <div class="offer-item">-->
<!--                                <div class="thumb">-->
<!--                                    <img src="assets/images/sidebar/offer01.png" alt="sidebar">-->
<!--                                </div>-->
<!--                                <div class="content">-->
<!--                                    <h6>-->
<!--                                        <a href="#0">Amazon Pay Cashback Offer</a>-->
<!--                                    </h6>-->
<!--                                    <p>Win Cashback Upto Rs 300*</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="offer-item">-->
<!--                                <div class="thumb">-->
<!--                                    <img src="assets/images/sidebar/offer02.png" alt="sidebar">-->
<!--                                </div>-->
<!--                                <div class="content">-->
<!--                                    <h6>-->
<!--                                        <a href="#0">PayPal Offer</a>-->
<!--                                    </h6>-->
<!--                                    <p>Transact first time with Paypal and-->
<!--                                        get 100% cashback up to Rs. 500</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="offer-item">-->
<!--                                <div class="thumb">-->
<!--                                    <img src="assets/images/sidebar/offer03.png" alt="sidebar">-->
<!--                                </div>-->
<!--                                <div class="content">-->
<!--                                    <h6>-->
<!--                                        <a href="#0">HDFC Bank Offer</a>-->
<!--                                    </h6>-->
<!--                                    <p>Get 15% discount up to INR 100*-->
<!--                                        and INR 50* off on F&B T&C apply</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="widget-1 widget-banner">-->
<!--                        <div class="widget-1-body">-->
<!--                            <a href="#0">-->
<!--                                <img src="assets/images/sidebar/banner/banner01.jpg" alt="banner">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="col-lg-9 mb-50">
                    <div class="movie-details">
                        <h3 class="title">photos</h3>
                        <div class="details-photos owl-carousel">

                            <div class="thumb">
                                <a href="{{movie.MoviePoster1.url}}" class="img-pop">
                                    <img src="{{movie.MoviePoster1.url}}" alt="movie" width="210px" height="112px">
                                </a>
                            </div>
                           <div class="thumb">
                                <a href="{{movie.MoviePoster2.url}}" class="img-pop">
                                    <img src="{{movie.MoviePoster2.url}}" alt="movie" width="210px" height="112px">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="{{movie.MoviePoster3.url}}" class="img-pop">
                                    <img src="{{movie.MoviePoster3.url}}" alt="movie" width="210px" height="112px">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="{{movie.MoviePoster1.url}}" class="img-pop">
                                    <img src="{{movie.MoviePoster1.url}}" alt="movie" width="210px" height="112px">
                                </a>
                            </div>
                           <div class="thumb">
                                <a href="{{movie.MoviePoster2.url}}" class="img-pop">
                                    <img src="{{movie.MoviePoster2.url}}" alt="movie" width="210px" height="112px">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="{{movie.MoviePoster3.url}}" class="img-pop">
                                    <img src="{{movie.MoviePoster3.url}}" alt="movie" width="210px" height="112px">
                                </a>
                            </div>

                        </div>
                        <div class="tab summery-review">
                            <ul class="tab-menu">
                                <li class="active">
                                    summery
                                </li>
                                <li>
                                    user review <span>{{review_count}}</span>
                                </li>
                                 {% if request.session.UserName %}
                                <li>
                                    add review
                                </li>
                                {% endif %}
                            </ul>
                            <div class="tab-area">
                                <div class="tab-item active">
                                    <div class="item">
                                        <h5 class="sub-title">Synopsis</h5>
                                        <p>{{movie.MovieSynopsis}}</p>
                                    </div>
                                    <div class="item">
                                        <div class="header">
                                            <h5 class="sub-title">cast</h5>
                                            <div class="navigation">
                                                <div class="cast-prev"><i class="flaticon-double-right-arrows-angles"></i></div>
                                                <div class="cast-next"><i class="flaticon-double-right-arrows-angles"></i></div>
                                            </div>
                                        </div>
                                        <div class="casting-slider owl-carousel">
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="#0">
                                                        <img src="{{movie.MovieActor1Image.url}}" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a href="#0">{{movie.MovieActor1Name}}</a></h6>
<!--                                                    <span class="cate">actor</span>-->
                                                </div>
                                            </div>
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="#0">
                                                        <img src="{{movie.MovieActor2Image.url}}" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a href="#0">{{movie.MovieActor2Name}}</a></h6>
<!--                                                    <span class="cate">actor</span>-->
<!--                                                    <p>As raven</p>-->
                                                </div>
                                            </div>
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="#0">
                                                        <img src="{{movie.MovieActor3Image.url}}" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a href="#0">{{movie.MovieActor3Name}}</a></h6>
<!--                                                    <span class="cate">actor</span>-->
<!--                                                    <p>As raven</p>-->
                                                </div>
                                            </div>
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="#0">
                                                        <img src="{{movie.MovieActor4Image.url}}" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a href="#0">{{movie.MovieActor4Name}}</a></h6>
<!--                                                    <span class="cate">actor</span>-->
<!--                                                    <p>As raven</p>-->
                                                </div>
                                            </div>
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="#0">
                                                        <img src="{{movie.MovieActor5Image.url}}" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a href="#0">{{movie.MovieActor5Name}}</a></h6>
<!--                                                    <span class="cate">actor</span>-->
<!--                                                    <p>As raven</p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="header">
                                            <h5 class="sub-title">crew</h5>
                                            <div class="navigation">
                                                <div class="cast-prev-2"><i class="flaticon-double-right-arrows-angles"></i></div>
                                                <div class="cast-next-2"><i class="flaticon-double-right-arrows-angles"></i></div>
                                            </div>
                                        </div>
                                        <div class="casting-slider-two owl-carousel">
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="#0">
                                                        <img src="{{movie.MovieCrew1Image.url}}" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a href="#0">{{movie.MovieCrew1Name}}</a></h6>
                                                    <span class="cate">{{movie.MovieCrew1Role}}</span>
                                                </div>
                                            </div>
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="#0">
                                                        <img src="{{movie.MovieCrew2Image.url}}" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a href="#0">{{movie.MovieCrew2Name}}</a></h6>
                                                    <span class="cate">{{movie.MovieCrew2Role}}</span>
                                                </div>
                                            </div>
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="#0">
                                                        <img src="{{movie.MovieCrew3Image.url}}" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a href="#0">{{movie.MovieCrew3Name}}</a></h6>
                                                    <span class="cate">{{movie.MovieCrew3Role}}</span>
                                                </div>
                                            </div>
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="#0">
                                                        <img src="{{movie.MovieCrew4Image.url}}" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a href="#0">{{movie.MovieCrew4Name}}</a></h6>
                                                    <span class="cate">{{movie.MovieCrew4Role}}</span>
                                                </div>
                                            </div>
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="#0">
                                                        <img src="{{movie.MovieCrew5Image.url}}" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a href="#0">{{movie.MovieCrew5Name}}</a></h6>
                                                    <span class="cate">{{movie.MovieCrew5Role}}</span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="tab-item">
                                    {% for i in review %}
                                    <div class="movie-review-item">
                                        <div class="author">
                                            <div class="thumb">
                                                <a href="#0">
                                                    <img src="{{i.UserImage.url }}" alt="img">
                                                </a>
                                            </div>
                                            <div class="movie-review-info">
                                                <span class="reply-date">{{i.Date}}</span>
                                                <h6 class="subtitle"><a href="#0">{{i.UserName}}</a></h6>
                                            </div>
                                        </div>
                                        <div class="movie-review-content">
<!--                                            <div class="review">-->
<!--                                                <i class="flaticon-favorite-heart-button"></i>-->
<!--                                                <i class="flaticon-favorite-heart-button"></i>-->
<!--                                                <i class="flaticon-favorite-heart-button"></i>-->
<!--                                                <i class="flaticon-favorite-heart-button"></i>-->
<!--                                                <i class="flaticon-favorite-heart-button"></i>-->
<!--                                            </div>-->
                                            <p>{{i.Review}}</p>

                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="load-more text-center">
                                        <a href="#0" class="custom-button transparent">load more</a>
                                    </div>
                                </div>
                                {% if request.session.UserName %}
                                <div class="tab-item">
                                    <form class="contact-form" id="contact_form_submit" method="post" action="{% url 'post_review' movie_id=movie.id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="review">Review <span>*</span></label>
                                            <textarea name="review" id="review" placeholder="Enter Your Review" required></textarea>
                                         </div>
                                            <input type="hidden" name="image" value="{{ user_details.UserImage }}">
                                        <div class="form-group">
                                            <button type="submit" style="background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);">Submit Review</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Movie-Section========== -->
</body>
</html>
{% endblock %}